<div class="jumbotron">
	<h1>Roommate Expenses Simplified</h1>
	<p>No more budgeting. No more arguments. <strong>No more spreadsheets.</strong> </p>
	<p><a class="btn btn-primary btn-lg" href="/partnerships/new" role="button">Form a New Cohabitation</a></p>
</div>